$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import '~leaflet/dist/leaflet.css';

body {
    padding: 0;
    margin: 0;
    background: #f1f4f9;
    color: #4e5e6a;
    font-family: sans-serif;
}

.leaflet-container {
    width: 100%;
    height: 500px;
}
